<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.halo.health.model.dao.AnalysisMapper">

    <resultMap id="BaseResultMap" type="com.halo.health.model.pojo.Analysis">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="bloodOxygen" column="blood_oxygen" jdbcType="FLOAT"/>
        <result property="heartRate" column="heart_rate" jdbcType="FLOAT"/>
        <result property="temperature" column="temperature" jdbcType="FLOAT"/>
        <result property="proposal" column="proposal" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,user_id,blood_oxygen,
        heart_rate,temperature,proposal,create_time
    </sql>
</mapper>
